input[type="number"] {
	width: 20%;
}

.content {
	background-color: #aebaaf;
	margin: auto;
	border: 1px solid black;
	width: 50%;
	padding: 2%;
	font-family: 'Roboto', sans-serif;
}

.dice {
	font-size: 3em;
}

.dice>option {
	font-size: 0.4em;
}